<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8"> <!-- Optional tag: defines character encoding for doc-->

  <title>tSearch | by_Brittany</title> <!-- The only mandatory element in the head tag -->
  <meta name="description" content="tSearch">
  <meta name="author" content="Brittany">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <div id="nav">
	    <ul>
	    	<li class="current"><a href="http://thisismadebyhand.com/">The Series</a></li>
	    	<li><a href="http://thisismadebyhand.com/about/">About</a></li>
	    	<li class="twitter"><a href="http://twitter.com/madebyhand"><img src="http://thisismadebyhand.com/imgs/twitter.png" alt="Twitter: @sfbaebleton"/>sfbaebleton</a></li>
	    </ul>
  	</div><!--#nav-->


  <script src="js/scripts.js"></script>
</body>
</html>
