<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8"> <!-- Optional tag: defines character encoding for doc-->

  <title>tSearch | by_Brittany</title> <!-- The only mandatory element in the head tag -->
  <meta name="description" content="tSearch">
  <meta name="author" content="Brittany">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <div id="nav">
	    <ul>
	    	<li class="current"><a href="/">HOME</a></li>
        <li class="about"><a href="/about">ABOUT</a></li>
	    	<li><a href="http://www.github.com/bterbs">projects</a></li>
	    </ul>
  	</div><!--#nav-->
  <div id="first-row">
  </div><!--#first-row-->


  <script src="js/scripts.js"></script>
</body>
</html>
