<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8"> <!-- Optional tag: defines character encoding for doc-->

  <title>tSearch | by_Brittany</title> <!-- The only mandatory element in the head tag -->
  <meta name="description" content="tSearch">
  <meta name="author" content="Brittany">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <div id="nav">
	    <ul>
	    	<li class="current"><a href="/">HOME</a></li>
        <li class="about"><a href="/about">ABOUT</a></li>
	    	<li><a href="http://www.github.com/bterbs">Contact</a></li>
	    </ul>
  	</div><!--#nav-->
  <div class="div-border">
  </div><!--.div-border-->

  <!--Body of homepage-->
  <div id="second-row">
    <form id="search-form" action="">
      <input id="search-box" type="text" name="searchForThis" placeholder="search...">
        <br>
      <input id="search-btn" type="submit" value="Submit">
    </form>
  </div><!--#second-row-->
  <div class="div-border">
  </div><!--.div-border-->
  <div id="results-div">
  </div><!--#results-div-->

  <!-- Optional javascript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <!-- External javascript file -->
  <script src="js/scripts.js" type="text/javascript"></script>
</body>
</html>
