/* Made by BrittanyT -- NowSheCodes */

/* reset --------------------------------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, u, i, dl, dt, dd, ol, ul, li { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; border: 0; outline: 0; background: transparent; }
ol, ul { list-style: none; }
:focus { outline: 0; }

/** ----------------------
 	general
---------------------- **/
body {
  background-color: #333;
  width: 100%;
}

a {
	color: #333;
	font-family: "museo-sans-rounded-1", "museo-sans-rounded-2", sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}

/** ----------------------
 	navigation
---------------------- **/
#nav {
	width: 100%;
	height: 1.75em; /* 28px/16px */
	background: #333;
	text-transform: uppercase;
	margin-top: -.625em; /* -10px/16px */
	padding-top: .75em;
}
#nav ul {
	width: 350px;
	margin: .375em auto;
  margin-left: 1em;
	color: white;
	font: .875em "museo-sans-rounded-1", "museo-sans-rounded-2", sans-serif; /* 14px/16px */
}
#nav ul li { min-width: 13.75%; float: left; margin-left: 3%;
}
#nav ul li:after { content:'\002F'; }
#nav ul li.current a, #nav ul li a:hover { color: grey; }
#nav ul li a {
	color: white;
	font-size: 0.875em; /* 14px/16px */
	font-weight: 300;
	margin-right: 1em;
}

/** ----------------------
  body rows
---------------------- **/

.div-border {
  background-color: grey;
  height: .05em;
}

#second-row {
  background-image: url('../aurora.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;        /* center items horizontally, in this case */
}

#search-form {
  align-items: center;
}

#search-box {
  font-size: 24px;
}

#search-btn {
  font-size: 14px;
  margin-top: 4px;
}

#results-div {
  margin-top: 2em;
  background-color: #ccc;
  height: auto;
  display: none;
}
